<h1>Todo一覧</h1>
<table>
  <tbody>
  <tr>
    <th>ID</th>
    <th>タイトル</th>
    <th>作成日時</th>
  </tr>
  <% @todo.each do |todo| %>
  <tr>
    <td><%= todo.id %></td>
    <td><%= todo.title %></td>
    <td><%= todo.create_timestamp %></td>
  </tr>
  <% end %>
  </tbody>

</table>
<p>
  <a href="/todo/new">新規Todo登録</a>
</p>
